.titleStyle{
    text-decoration: underline;
 text-decoration-color: transparent;
 transition: .3s;

 /*add those for opera and mozilla support*/
 -webkit-text-decoration-color: transparent;
 -moz-text-decoration-color: transparent;

}
.titleStyle:hover{
    text-decoration-color: red;
 
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: red;
    -moz-text-decoration-color: red;

}